[submodule "htslib"]
	path = htslib
	url = https://github.com/samtools/htslib.git
	ignore = untracked
[submodule "KMC"]
	path = KMC
	url = https://github.com/refresh-bio/KMC.git
	ignore = untracked
[submodule "sdsl-lite/external/googletest"]
	path = sdsl-lite/external/googletest
	url = https://chromium.googlesource.com/external/googletest
[submodule "sdsl-lite/external/libdivsufsort"]
	path = sdsl-lite/external/libdivsufsort
	url = https://github.com/simongog/libdivsufsort.git
